#
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

#
local.properties
/local.properties

#
.DS_Store

#
/build
/captures
.gradle
.externalNativeBuild
.cxx

#
*.log
*.tmp
*.bak
